<html>

<head>
<title>ProVision</title>
</head>
<style>
.class {
  background-color:#000000
}
</style>
<body>
 <div class="class">
  <img src="../media/title.svg" style="width:88vw; height:88vh;">
 </div>
</body>
</html>
