<html>

<head>
<title>ProVision</title>
</head>
<style>
.class {
  background-color:#000000
}
.downDiv {
  background-color:#000000;
  font-size:2.5em;
  padding-left:5vw;
  text-decoration:none;
}
.downDiv a:hover{
  color:red
}

</style>
<body>
  <div class="downDiv">
    <a href="../data/proteinGroups.txt" download="proteinGroupsTutorial">
      Get tutorial data here </a>
  </div>
 <div class="class">
  <img src="../media/title2.svg" style="width:88vw; height:88vh;">
 </div>
</body>
</html>
