<html>

<head>
<title>ProVision</title>
<link rel="stylesheet", type="text/css", href="../CSS/styles.css"
</head>

<body>
  <div class = "welcometab">
    <div id ="downDiv">
    <a href="../data/proteinGroups.txt" download="proteinGroupsTutorial">
      Get tutorial data here </a>
  </div>
   <div id ="downdiv">
      <img src="../media/title2.svg" style="width:88vw; height:88vh;">
   </div>
  </div>
</body>
</html>
