/*----welcometab----*/

.welcometab {
  background-color:#000000
}
#downDiv {
  background-color:#000000;
  font-size:2.5em;
  padding-left:5vw;
  text-decoration:none;
}
#downDiv a:hover{
  color:red
}